body{
  background: url("../images/BG1.jpg");
  -webkit-background-size: cover;
    background-position: absolute;
    background-size: cover;
    height: 100vh;
    margin: 0;

}
.navigation {
  width: 100%;
  background:#0f0c08;  
}
.navigation:after {
  content: '';
  clear: both;
  display: block;
}

.navigation ul {
  margin: 0;
  list-style: none;
}

.navigation >ul >li {
  float: left;
  position: relative;
}
.navigation ul li a {
  display: block;
  padding: 20px 18px ;
  color:white;
  text-decoration: none;
  font-family: calibri ;
  font-size: 18px;
}

#socialmedia {
  display: block;
  padding: 20px 5px ;
  color:white;
  text-decoration: none;
  font-size: 18px;
}

.navigation li:hover a{
  background-color:#4b453d;
  
}

.navigation ul ul { 
position: absolute;
padding: 0;
top: 100%;
left: 0;
min-width: 160px;
display: none;
z-index: 1;
}

.navigation ul li:hover > ul{
  display: block;
}

.navigation ul ul li:hover a{
  background:#0F0C08;
  font-size: 16px;
}
#search {
  width: 35%;
  padding: 5px;
  margin: 15px;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  border: none;
  font-size: 14px;
  text-align: center;
  float:right;
}

.imagesec{
  top: 10px;
  position: relative;
}

#mainimg{
  width: 100%;
  margin: none;
  padding: none;
}
#img-text{
  position:absolute;
  top: 300px;
  right:15px;
  font-family: stencil;
  color: rgba(255, 255, 255, 0.808);
  transform: translate(-30%, -30%);
  text-align: center;
  font-size: 70px;
}
.left-menu{
  height: 100%;
  width:25%;
  left: 10px;
  overflow:auto;
  float: left ;
  position: relative;
  text-decoration: none;
  display: block;
}
.left-menu ul{
  list-style: none;
  padding-left: 5px;
}

.left-menu ul li a {
  display: block;
  color:white;
  text-decoration: none;
  font-family: calibri ;
  font-size: 14px;
}
.left-menu ul li a:hover {
  color: rgb(145, 143, 143);
}
.satellite{
  width:68%;
  border-radius: 10px;
  border: 2px solid #68646b;
  background-color:rgba(0, 0, 0, 0.74);
  margin: 10px 30px;
  padding: 10px ;
  float: right;
  position:relative;
  display:block;
}

.question {
  padding: 5px 0px;
  color:rgb(255, 254, 254);
  background-color: #4b453daf;
  border-radius: 5px;
  font-family: arial;
  font-size:16px;
}
.answer {
  color:rgb(189, 186, 186);
  font-family: helvetica;
  font-size:13px;
}
.subpage{
  margin: 2% 10%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  overflow: hidden;
  position: relative;

}

.satellite-table {
  width:auto; 
  margin: 2% 5%; 
  background-color: none;
  border-collapse: collapse;
  box-align:center;

}
th{
  background-color: #747373;
}
th, td {
  text-align: center;
  color:rgb(0, 0, 0) ;
  padding: 2px;  
  border-style: solid;
}
.logo {
  margin: 5px;
  float: left;
  max-width: 20%;
}
.images {
  margin: 5px;
  float: right;
  max-width: 26%;
}
iframe{
  margin: 0 auto;
      display: block;
}
.youtube{
  float: right;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}

.tech-info{
  margin: 0% 10%;
  width:800px;
  height:auto;

}

.footer {
  clear: both;
  position: relative;
  bottom:0; 
  width: 100%;
  height: 50px;
  background-color: rgb(219, 200, 193);
  text-align: center;
}
#footer {
text-align: center;
  padding: 3px;
  background-color: rgb(219, 200, 193);
  color: rgb(44, 28, 28);
}
h2{
  color:black;
  font-family:sans-serif;
  }

